PORT=3000
MONGO_URI=mongodb://KarinaMiranda_db_user:xxxxxxxxxxxxxxxxxxx@ac-kfegklu-shard-00-00.gjmwsad.mongodb.net:27017,ac-kfegklu-shard-00-01.gjmwsad.mongodb.net:27017,ac-kfegklu-shard-00-02.gjmwsad.mongodb.net:27017/db_canchas?ssl=true&replicaSet=atlas-glbtdp-shard-0&authSource=admin&appName=Cluster0
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=xxxx
SMTP_USER=xxxxxxxxxxx
SMTP_PASS=xxxxxxxxxxxxxxxxx
JWT_SECRET=xxxxxxxxxxxxx
FRONTEND_URL=https://rollingclub.netlify.app
PAYMENT_FRONTEND_URL=https://rollingclub.netlify.app
CLOUDINARY_CLOUD_NAME=xxxxxxxxxxx
CLOUDINARY_API_KEY=xxxxxxxxxxxxx
CLOUDINARY_API_SECRET=NVDxxxxxxxxxxx
MP_ACCESS_TOKEN=APP_USR-xxxxxxxxxxxxx
BACKEND_URL=https://shrank-xxxxxxxxxxx.ngrok-free.dev
MP_WEBHOOK_SECRET=xxxxxxxxxxxxxxxx